<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://obbuo9upd.qnssl.com/cc4.0.png?imageMogr2/format/webp" /></a>
     <a href="https://pages.coding.me"><img style="border-width:0" src="https://obbuo9upd.qnssl.com/hosted.jpg?imageMogr2/format/webp" /></a>
            	<br />本作品采用<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。
            </div>
  
    </div>
 
 <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0beefceb7e65e8de55a196e428dd0e03";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 <script src="https://obbuo9upd.qnssl.com/aplayer/Meting.min.js"></script>  
</footer>